* {
  box-sizing: border-box;
}

.product {
  margin: 20px 20px 0 0;  
  border: 5px solid #333;
  padding: 20px;
  width: 400px;
  height: 450px;
  float: left;
}

.productImage {
  float: left;
}

.productImage img {
  display: block;
  width: 100px;
  height: 150px;
}

.productInformation {
  margin-left: 120px;
}

.productTitle {
  font-weight: bold;
  font-size: 200%;
}

.shoppingCart {
  clear: left;
  padding: 20px;
  width: 1500px;
}

.quantityHeader, .priceHeader {
  float: right; 
  display: inline-block;
  padding: 20px;   
}

.cartItem {
  margin: 20px 20px 0 0;  
  border: 1px solid #333;
  padding: 20px;
  width: 1500px;
  height: 250px;
  float: left;
}

.cartItem .price {
  float: right;
}

.cartTotal {
  float: right;
  padding: 20px;
}

#keepShopping:hover {
  color: red;
}

#keepShopping:active {
  color: black;
}